<nav class="navbar fixed-bottom d-md-none bottom-nav nav nav-pills">
    <a class="nav-link active" data-page="pages/dashboard.html">
        <i class="fa-solid fa-table-cells"></i>
        <small>Dashboard</small>
    </a>
    <a class="nav-link" data-page="pages/gate_in.html">
        <i class="fa-solid fa-truck-ramp-box"></i> <small>Gate IN</small>
    </a>
    <a class="nav-link" data-page="pages/gate_out.html">
        <i class="fa-solid fa-truck-moving"></i> <small>Gate OUT</small>
    </a>
    <a class="nav-link" data-page="pages/survey.html">
        <i class="fa-solid fa-magnifying-glass"></i>
        <small>Survey</small>
    </a>
    <a class="nav-link" data-page="pages/yard.html">
        <i class="fa-solid fa-map-location-dot"></i>
        <small>Yard</small>
    </a>
    <a class="nav-link" data-page="pages/billing.html">
        <i class="fa-solid fa-receipt"></i>
        <small>Billing</small>
    </a>
</nav>