<nav class="navbar navbar-expand navbar-dark bg-app-dark fixed-top shadow-sm">
    <div class="container-fluid">
        
        <a class="navbar-brand fw-bold" href="#">Container Depot MS</a>

        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-circle-user fs-4"></i>
                    <span class="d-none d-md-inline ms-2">John Doe</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end rounded-3" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>