<nav id="sidebarMenu" class="d-none d-md-flex flex-column sidebar">
    <div class="sidebar-nav-container">
        <div class="nav nav-pills flex-column">
            <a class="nav-link active" data-page="pages/dashboard.html">
                <i class="fa-solid fa-table-cells"></i> Dashboard
            </a>
            <a class="nav-link" data-page="pages/gate_in.html">
                <i class="fa-solid fa-truck-ramp-box"></i> Gate IN
            </a>
            <a class="nav-link" data-page="pages/gate_out.html">
                <i class="fa-solid fa-truck-moving"></i> Gate OUT
            </a>
            <a class="nav-link" data-page="pages/survey.html">
                <i class="fa-solid fa-magnifying-glass"></i> Container Survey
            </a>
            <a class="nav-link" data-page="pages/yard.html">
                <i class="fa-solid fa-map-location-dot"></i> Yard Position
            </a>
            <a class="nav-link" data-page="pages/billing.html">
                <i class="fa-solid fa-receipt"></i> Billing & Charges
            </a>
        </div>
    </div>
</nav>